<h1>Enjoy! Kizuku.go</h1>
<%= image_tag 'Kizuku.go.png', alt: 'Kizuku.go', class: 'img-responsive',  style: 'width: 50vw; height: auto;' %>

<%= link_to 'Go to Timeline', posts_path, class: 'btn btn-primary' %>